# SRP059928
> Are any of these taxa in my dataset?

"we created an artificial bacterial population using DNA from: 
* Salmonella enterica
* Streptococcus pyogenes
* Escherichia coli
* Lactobacillus helveticus
* Lactobacillus delbrueckii
* Lactobacillus plantarum
* Clostridium sordelli
* Bacteroides thetaiotaomicron
* Bacteroides vulgatus
* Bifidobacterium breve
* Bifidobacterium animalis

In [2]:
import sys
sys.path.append('/home/phil/aptr')
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd

In [4]:
from src.database import RnaDB

In [5]:
db = RnaDB(
    path_to_dnaA="../data/allDnaA.tsv",
    path_to_16s="../data/allSSU.tsv",
)

In [6]:
# DB doesn't have names for genomes, so we need to add them back in

dnaA = pd.read_csv("../data/allDnaA.tsv", sep="\t", index_col=0)

In [7]:
# Save the IDs from our db to a temp file

pd.Series(db.db["genome"].unique()).to_csv("../data/genome_ids.tsv", sep="\t")

In [8]:
genome_names = pd.read_table("../data/genome_species.tsv", index_col=0)

In [9]:
genome_names

      genome_id                genome.species
0     1566358.3  Paenibacillus sp. IHBB 10380
1      407976.7            Shewanella baltica
2      398579.7           Shewanella pealeana
3      575540.3            Isosphaera pallida
4      891391.3     Lactobacillus acidophilus
...         ...                           ...
1023   575788.5             Vibrio atlanticus
1024   588858.6           Salmonella enterica
1025   644284.3  Arcanobacterium haemolyticum
1026   796606.3         Bacillus methanolicus
1027   903510.3              Vibrio furnissii

[1027 rows x 2 columns]

In [10]:
species = [
    "Salmonella enterica",
    "Streptococcus pyogenes",
    "Escherichia coli",
    "Lactobacillus helveticus",
    "Lactobacillus delbrueckii",
    "Lactobacillus plantarum",
    "Clostridium sordelli",
    "Bacteroides thetaiotaomicron",
    "Bacteroides vulgatus",
    "Bifidobacterium breve",
    "Bifidobacterium animalis",
]

for sp in species:
    print(sp)

Salmonella enterica
Streptococcus pyogenes
Escherichia coli
Lactobacillus helveticus
Lactobacillus delbrueckii
Lactobacillus plantarum
Clostridium sordelli
Bacteroides thetaiotaomicron
Bacteroides vulgatus
Bifidobacterium breve
Bifidobacterium animalis

In [20]:
from src.simulation_new import _rc

In [18]:
db_v4 = RnaDB(
    path_to_dnaA="../data/allDnaA.tsv",
    path_to_16s="../data/allSSU.tsv",
    left_primer=_rc("GACGCTCTTCCGATCTTATGGTAATTGTGTGCCAGCMGCCGCGGTAA"),
    right_primer="TGTGCTCTTCCGATCTAGTCAGTCAGCCGGACTACHVGGGTWTCTAAT"
)

In [19]:
db_v4.db

,genome,n_contigs,contig,feature,16s_position,oor_position,size,16s_sequence,md5
300,529120.14,1,CP003841,fig|529120.14.rna.57,3688214,410,4653851,tgagt,43c5afe797646636a19b3b4c82131fef
302,529120.14,1,CP003841,fig|529120.14.rna.8,316217,410,4653851,aatgg,c451dc6b49d38f2e0a7789fc969179cc
364,253839.3,4,NZ_GG657750,fig|253839.3.rna.3,1354186,3938625,8461333,gtgaa,867662acf2385e9c637f65e7f44b1382
373,253839.3,4,NZ_GG657750,fig|253839.3.rna.87,5762224,3938625,8461333,gggggtgggggtga,892d83ea241805933a3cec40c21329b5
4459,457427.3,2,NZ_GG657754,fig|457427.3.rna.13,3158119,5266768,11030030,gatgaag,2f7ece12988eede0c0959d4705f8f50a
4460,457427.3,2,NZ_GG657754,fig|457427.3.rna.52,6315955,5266768,11030030,gatgaag,2f7ece12988eede0c0959d4705f8f50a
4461,457427.3,2,NZ_GG657754,fig|457427.3.rna.30,4774242,5266768,11030030,gatgaag,2f7ece12988eede0c0959d4705f8f50a
4462,457427.3,2,NZ_GG657754,fig|457427.3.rna.2,1441703,5266768,11030030,gatgaag,2f7ece12988eede0c0959d4705f8f50a
4463,457427.3,2,NZ_GG657754,fig|457427.3.rna.29,4773086,5266768,11030030,tgatgggga,9059b587d45e42d49d37b9f2dfda90b7
4464,457427.3,2,NZ_GG657754,fig|457427.3.rna.74,8195964,5266768,11030030,gatgaag,2f7ece12988eede0c0959d4705f8f50a
5544,645991.3,1,NC_015172,fig|645991.3.rna.17,285913,56,3406739,gaaaaag,e2a00bee80ae7d90a86527b52c6e69cd
5546,645991.3,1,NC_015172,fig|645991.3.rna.6,239135,56,3406739,aaaaag,e7fac48d790afbe73656fe138bed2941
6719,595494.3,1,NC_012691,fig|595494.3.rna.13,205541,12,3471292,ggg,ba248c985ace94863880921d8900c53f
6720,595494.3,1,NC_012691,fig|595494.3.rna.1,26362,12,3471292,ggagag,6f15616592dae651e9a04f6619ba353c
6724,595494.3,1,NC_012691,fig|595494.3.rna.7,168864,12,3471292,ggagag,6f15616592dae651e9a04f6619ba353c
6914,484770.3,1,CP008852,fig|484770.3.rna.78,2719428,4753688,5115410,aagaagagag,b45634f7c6de20dc8c77df11fa27a9bb
6917,484770.3,1,CP008852,fig|484770.3.rna.50,1649162,4753688,5115410,aagaagtgag,632eb39e259753b870cbe8ce0a0aefe8
6918,484770.3,1,CP008852,fig|484770.3.rna.81,2741986,4753688,5115410,aagaagagag,b45634f7c6de20dc8c77df11fa27a9bb
6925,484770.3,1,CP008852,fig|484770.3.rna.45,1638632,4753688,5115410,aagaagagag,b45634f7c6de20dc8c77df11fa27a9bb